/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*--------------------*/
.skin_color {color: #487922;}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  background: #f3f3f3;
  color: #666;
}
h1, h2,h3,h4,h5,h6 {
  font-family: 'Oswald', sans-serif;
}
h1 {
  font-size: 2rem;
}
h3 {
  font-size: 1.6rem;
} 
a:hover,
a:focus,
a:active {
  color: #487922;
  text-decoration: none;
}
main, .site-content {
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
  padding: 30px 20px;
}

.calc-res {
  font-size: 1.2rem;
}
.calc-res li {
  margin: 10px 0;
}

